header{
   .header_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
     .log{
        width: 131px;
     }
     .nav{
       border: var(--border);
     }
     .search{
        border: var(--border);
        a{
         padding-top: 5px;
        }
     }
     @include custome_media(0px,991.9px){
      .nav,
      .search{
         display: none;
      }
     }
   }
}

